@import "../../global.scss";

.pricing {
  text-align: center;
  padding: 6rem 0;

  .h2{
    margin-bottom: 1rem;
  }
  
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow: visible;

    @include mobile{
      grid-template-columns: repeat(1, 1fr);
    }

    .card {
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 24px 48px -12px,  rgba(0, 0, 0, 0.24) 0px 0px 8px -4px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1.5rem;
      transition: all .2s ease;

      &.featured{
          background-color: $color-primary;
          color: $color-primary-text;

          @include mobile{

          }
      }

      &:hover{
        box-shadow: rgba(0, 0, 0, 0.48) 0px 24px 48px -12px,  rgba(0, 0, 0, 0.24) 0px 0px 8px -4px;
      }

    }
  }

  &__name{
    font-size: 2rem;
  }

  &__price{
    margin-top: 1rem;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 500;
  }

  &__extra{
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  &__description{
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
}